**/bin/
**/obj/
**/out/
**/publish/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/.git/
**/.gitignore
**/Dockerfile*
**/.dockerignore
**/docker-compose*.yml
**/.env
**/.env.*
**/appsettings.*.local.json
**/secrets.json
**/*.log
**/.DS_Store
